/*--------------------------------------------------------------
   Site structure
--------------------------------------------------------------*/
.site-main {
	margin-top: 64px;
	min-height: calc(100vh - 128px);
	margin-bottom: -1px;
	padding-bottom: 1px; // collapse margins
	
	@include breakpoint( '>660px' ) {
		margin-left: 64px;
		margin-right: 64px;
	}
}

// For this element (only!), we hide the focus state.
.site-main:focus {
	outline: none;
}

// // Hide Jetpack's sharing/like buttons on the blog
// .sharedaddy {
// 	display: none !important;

// 	body.single & {
// 		display: block !important;
// 	}

// 	.sd-sharing {
// 		padding-left: 2px;
// 	}
// }
