h1, h2 {
	font-family: $font__header;
}

h3, h4, h5, h6 {
	font-family: $font__main;
}

.page-title,
.entry-title {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: $font__main;
	@include font-size( $font__size-header );
	line-height: 1.1;
	color: $red;

	@include breakpoint( '<480px' ) {
		@include font-size( $font__size-header - 4 );
	}
}