.site-nav {
	z-index: 9999;

	@include breakpoint( '<660px' ) {
		position: fixed;
		top: 64px;
		left: 0;
		right: 0;
		bottom: 0;

		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;

		background: white;

		opacity: 0;
		visibility: hidden;
		transition: 0.5s;

		.menu-open & {
			visibility: visible;
			opacity: 1;
		}
	}

	// @include breakpoint( '>660px' ) {
	// 	visibility: visible;
	// 	opacity: 1;
	// 	position: static;
	// 	display: block;
	// 	background: none;
	// }
}

.menu-toggle {
	-webkit-appearance: none;
	border: 0;
	padding: 0;
	user-select: none;
	outline: none;
	background: none;

	grid-column: 3;
	grid-row: 2;
	align-self: center;
	justify-self: center;

	width: 50px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	@include breakpoint( '>660px' ) {
		display: none;
	}
}

.burger {
	&,
	&:before,
	&:after {
		display: block;
		width: 28px;
		height: 2px;
		background: $black;
		transition: 0.2s;
	}

	&:before,
	&:after {
		content: "";
	}

	&:before {
		transform: translateY(8px);
	}

	&:after {
		transform: translateY(-10px);
	}

	.menu-open & {
		background: transparent;

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: translateY(-2px) rotate(-45deg)
		}
	}
}

.menu-site {
	text-align: center;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include breakpoint( '<660px' ) {
		font-size: 8vh;
		height: 50%;
		transition: 0.5s;
		transform: scale(0.9);
		flex-direction: column;

		.menu-open & {
			transform: none;
		}
	}

	@include breakpoint( '>660px' ) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vh;
		height: 64px;

		transform: translate(calc(32px - 50%), calc(50vh - 50%)) rotate(-90deg);

		justify-content: center;
		flex-direction: row-reverse;

		a {
			display: inline-block;
			margin: 0 16px;
		}
	}
}

.menu-site a {
	position: relative;

	@include breakpoint( '>660px' ) {
		transition: 0.2s;
		&:hover {
			// transform: scale(1.1);
			&:after {
				transform: scaleX(0.5);
			}
		}
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: -2px;
		right: -2px;
		height: 2px;
		background: $black;
		transform: scaleX(0);
		transition: 0.2s;
	}
}

.work .menu-site a:nth-child(1):after {
	transform: none;
}

.doodles .menu-site a:nth-child(2):after {
	transform: none;
}

.about .menu-site a:nth-child(3):after {
	transform: none;
}

.menu-social {
	display: flex;

	@include breakpoint( '<660px' ) {
		justify-content: space-between;
		width: 60vw;
		transition: 0.5s;
		transform: scale(0.9);
	}

	@include breakpoint( '>660px' ) {
		position: fixed;
		top: 0;
		right: 0;
		width: 64px;
		bottom: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.menu-open & {
		transform: none;
	}

	a {
		display: block;
		width: 10vw;
		height: 10vw;
		max-width: 10vmin;
		max-height: 10vmin;
		transition: 0.2s;

		@include breakpoint( '>660px' ) {
			width: 32px;
			height: 32px;
		}

		svg {
			fill: $black;
			transition: 0.2s;
			width: 10vw;
			max-width: 10vmin;

			@include breakpoint( '>660px' ) {
				width: 32px;
			}
		}

		@include breakpoint( '>660px' ) {
			margin: 8px;

			&:hover {
				transform: scale(1.1);
				svg {
					// fill: $green;
				}
			}
		}
	}
}
