.menus {
	position: fixed;
	top: 64px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;

	background: white;

	opacity: 0;
	visibility: hidden;
	transition: 0.5s;

	.main-navigation.menu-open & {
		visibility: visible;
		opacity: 1;
	}

	@include breakpoint( '>660px' ) {
		visibility: visible;
		opacity: 1;
		position: relative;
		display: block;
		background: none;
		height: 0;
	}
}

.menu-main-menu-container {
	transition: 0.5s;
	transform: scale(0.9);

	text-align: center;
	font-size: 2em;
	height: 40%;

	.main-navigation.menu-open & {
		transform: none;
	}
	
	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 240px;
		margin: 0;
		height: 100%;
	}

	li {
		display: block;
	}

	a:focus,
	.focus > a:focus {
		outline: none;
		text-decoration: underline;
	}

	@include breakpoint( '>660px' ) {
		font-size: 1em;
		position: fixed;
		top: 50%;
		left: 32px;
		transform: translate(-50%, -50%) rotate(-90deg);
		width: 400px;
		width: max-content;
		height: auto;

		ul {
			flex-direction: row;
			height: 64px;
		}

		li {
			margin: 0 20px;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		a {
			display: inline-block;
		}
	}
}

.work .menu-item-work {
	text-decoration: line-through;
}

.doodles .menu-item-doodles {
	text-decoration: line-through;
}

.about .menu-item-about {
	text-decoration: line-through;
}

/* Small menu. */
.menu-toggle {
	height: 64px;
	width: 24 + 24 + 28px;

	@include breakpoint( '>660px' ) {
		display: none;
	}

	button {
		display: block;
		height: 40px;
		width: 40px;
		margin: 12px auto;
		position: relative;
		-webkit-appearance: none;
		border: 0;
		user-select: none;
		outline: none;
		background: none;
	}
}

.burger {
	top: 19px;
	left: 6px;

	&,
	&:before,
	&:after {
		position: absolute;
		display: block;
		width: 28px;
		height: 2px;
		background: $black;
		transition: 0.2s;
	}

	&:before,
	&:after {
		content: "";
	}

	&:before {
		transform: translateY(8px);
	}

	&:after {
		transform: translateY(-8px);
	}

	.main-navigation.menu-open & {
		background: white;

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}

.menu-social {
	display: flex;
	justify-content: space-between;
	width: 120px;

	transition: 0.5s;
	transform: scale(0.9);

	@include breakpoint( '>660px' ) {
		position: fixed;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 64px;
		flex-direction: column;
		align-items: center;
		height: 120px;
	}

	.main-navigation.menu-open & {
		transform: none;
	}

	a {
		display: block;
		width: 32px;
		height: 32px;
		outline: none;

		svg {
			fill: $black;
			transition: 0.2s;
		}

		&:hover {
			svg {
				fill: $green;
			}
		}
	}
}
