
/*--------------------------------------------------------------
	 Lists of doodles
--------------------------------------------------------------*/

.doodle-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.doodle {
	max-width: 100%;
	// position: relative;
	margin: 0 20px 20px 0;
	background-color: #eee;
	// display: inline-block;
	// vertical-align: bottom;
	&-image {
		max-width: 100%;
		padding-top: 0;
		height: 0;
	}
	.LazyLoad {
		// @extend .spinner;
		// &:after,
		// &:before {
		// 	transition: opacity 0.8s ease;
		// 	transition-delay: content 0.8s;
		// }
	}
	img {
		// z-index: 1;
		// position: relative;
		opacity: 0;
		transition: 2s ease .2s;
	}

	[data-is-loaded="yes"] {
		// .LazyLoad {
		// 	&:after,
		// 	&:before {
		// 		opacity: 0;
		// 		content: none;
		// 	}
		// }
		img {
			opacity: 1;
		}
	}
}
